/volumes/
!/volumes/.gitkeep
/volumes/www*
!/volumes/www/.gitignore
/volumes/mysql*/*
!/volumes/mysql/.gitignore
/services/push/logs/*
!/services/push/logs/.gitkeep
/services/web/logs/*
!/services/web/logs/.gitkeep
/volumes/tmp
/services/mysql/log
tmp.Dockerfile
.git
bitrixsetup.php
restore.php
.env
